* {
	box-sizing: border-box;
}

body {
	background-color: #f0f0f0;
	max-width: 900px;
	padding: 20px;
	margin: 0 auto;
	color: #888888;
	font-family: 'FuturaMedium', Futura, 'Trebuchet MS', Arial, sans-serif;
	text-transform: uppercase;
}

div.box {
	position: relative;
	border: 2px solid #bbbbbb;
	border-radius: 15px;
	padding: 20px;
	margin-bottom: 10px;
	text-align: center;
}

div.container {
	position: relative;
}

#upcomingresult, #upcomingresult_TEMP, #currentresult, #currentresult_TEMP, #bibliorefdiv {
	margin: 0;
	padding: 1em 0;
	trasition: all 1s;
	-webkit-transition: all 1s;
}

#upcomingresult, #upcomingresult_TEMP {
	position: absolute;
	top: 0;
	width: 100%;

	opacity: 0;
}

#currentresult, #currentresult_TEMP {
	position: relative;

	opacity: 1;
}