* {
	box-sizing: border-box;
}

body {
	background-color: #f0f0f0;
	max-width: 900px;
	padding: 20px;
	margin: 0 auto;
	color: #888888;
	font-family: "Futura";
	text-transform: uppercase;
}

div.box {
	position: relative;
	border: 2px solid #bbbbbb;
	border-radius: 15px;
	padding: 20px;
	margin-bottom: 10px;
	text-align: center;
}

div.container {
	position: relative;
}

.fadedout {
	opacity: 0;
	trasition: all 1s;
	-webkit-transition: all 1s;
}

.fadedin {
	opacity: 1;
	trasition: all 1s;
	-webkit-transition: all 1s;
}

#biblioref_next, #biblioref_next_TEMP {
	position: absolute;
	top: 0;
	width: 100%;
}

#biblioref_curr, #biblioref_curr_TEMP {
	position: relative;
}